<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.emmaguy.todayilearned">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/app_name_short">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="wearnotifyreddit" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.commonsware.cwac.wakeful.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="com.commonsware.cwac.wakeful"
                android:resource="@xml/wakeful" />
        </receiver>

        <service
            android:name=".refresh.WearListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/refresh"
                    android:scheme="wear" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />

                <data
                    android:host="*"
                    android:pathPrefix="/replytopost"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/openonphone"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/send_to_pocket"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/vote"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/comments"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/logging"
                    android:scheme="wear" />
            </intent-filter>
        </service>
        <service
            android:name=".refresh.RetrieveService"
            android:exported="false" />

    </application>

</manifest>
